
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    /*width: 50%;
     max-width: 1000px;
    min-height: 100px;*/
    height: 1000px;
    width: 1000px;
    background-color: rgb(245, 239, 231);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    border: 2px rgb(125, 218, 230);
    border-radius: 5px;
}
.left {
    position: initial;
    background-color: #93BFCF;
    padding: 20px;
    
 
}
.right {
    position: initial;
    background-color: #6096B4;
    padding: 20px;
    
    
 
}
.left img{
    width: 200px;
    height: 200px;
    margin: 30px 15%;
    border-radius: 50%;
    
}
.left h1{
    margin: 0px 20px;
}


.left ul {
    margin: 0px 20px;

}

.right b{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.right h2{
    text-decoration: underline;
    padding: 5px;
    
}.right ul li{
    list-style: none;
}